@model Mooreameu.App.Areas.Admin.Models.ContestDetailsView

<div>
    <h4>@Model.Title</h4>
    <hr />
    <dl class="dl-horizontal col-md-4">
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Owner)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Owner)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeadLine)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeadLine)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Voting)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Voting)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Participation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Participation)
        </dd>
        <dt></dt>
        <dd>
            <p>

                @Html.ActionLink("Edit info", "Edit", new { area = "Admin", id = Model.Id }, new { @class = "btn-sm btn-info" })
            </p>
        </dd>
        <dt></dt>
        <dd>
            <p>
                @Ajax.ActionLink("Edit comittee", "ComitteeDetails", new { area = "Admin", id = Model.Id }, new AjaxOptions()
                {
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "pictures-display"
                }, new { @class = "btn-sm btn-info" })
            </p>
        </dd>
        <dt></dt>
        <dd>
            <p>
                @Ajax.ActionLink("Edit pictures", "GetPictures", new { area = "Admin", id = Model.Id }, new AjaxOptions()
                {
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "pictures-display"
                }, new { @class = "btn-sm btn-info" })
            </p>
        </dd>
        <dt></dt>
        <dd>
            <p>
                @Ajax.ActionLink("Edit reward", "GetReward", new { area = "Admin", id = Model.Id }, new AjaxOptions()
                {
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "pictures-display"
                }, new { @class = "btn-sm btn-info" })
            </p>
        </dd>
    </dl>
    <div class="col-md-8" id="pictures-display">
        @Html.DisplayFor(m => m.Pictures)
    </div>
</div>
