@model Mooreameu.App.Models.ViewModels.Contests.ContestFullVIewModel


<div class="container-fluid">
    <div class="container">
        <h1>@Model.Title</h1> <span>Created by</span>
        @Html.DisplayFor(m => m.Owner) on @Html.DisplayFor(m => m.CreatedOn)
    </div>

    <p>@Model.Status for voting</p>
    <p>@Model.Description</p>

    @Html.DisplayFor(m => m.Pictures)
</div>