@model Mooreameu.App.Areas.Admin.Models.RewardViewModel

@{
    ViewBag.Title = "Edit Reward";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>RewardViewModel</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.TotalPrize, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.TotalPrize, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.TotalPrize, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Type, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.RadioButtonFor(model => model.Type, new { htmlAttributes = new { @class = "form-control single" } })
                <label for="single">Single winner</label>   
                @Html.RadioButtonFor(model => model.Type, new { htmlAttributes = new { @class = "form-control top3" } })
                <label for="top3">Top 3 winners</label>
                @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}
@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
