@using Mooreameu.Model
@model Mooreameu.App.Areas.Admin.Models.UserShortViewModel
<tr id="@Model.Id">
    <td><strong>@Model.UserName</strong></td>
    <td>@Model.Email</td>
    <td>@Model.Status</td>
    <td>
        @if (Model.Status == UserStatus.Banned)
        {
            @Html.ActionLink("Activate", "UnBan", "Users", new { area = "Admin", id = Model.Id }, new { @class = "btn-sm btn-info" })
        }
        @if (Model.Status == UserStatus.Ok && Model.Status != UserStatus.Deleted)
        {
            @Html.ActionLink("Ban", "Ban", "Users", new {area = "Admin", id = Model.Id}, new {@class = "btn-sm btn-warning"})
        }
        @if (Model.Status != UserStatus.Deleted)
        {
            @Html.ActionLink("Delete", "Delete", "Users", new {area = "Admin", id = Model.Id}, new {@class = "btn-sm btn-danger"})
        }
    </td>
</tr>   

